/* _______All page________ */

body {
  margin: 0;
}

.wrapper {
font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
}

/* _______Header_______ */

.header {
  background-color: #1c5bc3;
  color: #ffffff;
}

.contacts, .logo {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contacts__phone {
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
}

.contacts__desc {
  opacity: 0.7;
  font-size: 14px;
  text-decoration: underline;
}

/* ______Navigation_______ */

.sidebar  {
  float: left;
}

.nav__icon, .nav__text {
  display: inline-block;
}

.sidebar {
  width: 200px;
}

.nav__icon_main {
  background: url(../img/sidebar/sidebar-icons.png) center center no-repeat;
  background-position: 0 0;
	width: 18px;
	height: 18px;
}

.nav__icon_team {
  background: url(../img/sidebar/sidebar-icons.png) center center no-repeat;
  background-position: -19px -1px ;
	width: 23px;
	height: 18px;
}

.nav__icon_feed {
  background: url(../img/sidebar/sidebar-icons.png) center center no-repeat;
  background-position: -42px -2px ;
	width: 21px;
	height: 19px;
}

.nav__link {
  color: #1c5bc3;
  font-size: 12px;
  font-weight: 700;
  line-height: 54px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2.4px;
}

.nav__link:hover .nav__icon_main {
  background-position: 0 -19px ;
	width: 18px;
	height: 18px;
}

.nav__link:hover .nav__icon_team {
  background-position: -19px -20px ;
	width: 23px;
	height: 18px;
}

.nav__link:hover .nav__icon_feed{
  background-position: -42px -20px ;
	width: 21px;
	height: 19px;
}

.nav__link:hover .nav__text {
  color: #221f1f;
}

.nav__link .nav__icon_team {
  background-position: -19px -20px ;
	width: 23px;
	height: 18px;
}

.nav__item:nth-child(2) .nav__text {
  color: #221f1f;
}

/* ______Breadcrumbs______ */

.breadcrumbs__item {
  display: inline-block;
}

.breadcrumbs__link {
  color: #1c5bc3;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  opacity: 0.8;
}

.breadcrumbs__item:after {
  content: "/";
}

.breadcrumbs__item:last-child:after {
display: none;
}

.breadcrumbs__link_active {
  color: #221f1f;
  text-decoration: none;
  pointer-events: none;
}

/* ______Crew______ */

.section {
  display: inline-block;
  width: 900px;
}

.crew__item {
  display: inline-block;
  width: 260px;
  text-align: center;
  vertical-align: top;
}

.crew__ava-img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.crew__name {
  color: #221f1f;
  font-size: 18px;
  font-weight: 700;
}

.crew__prof {
  color: #1c5bc3;
  font-size: 14px;
  font-weight: 700;
}

.crew__text {
  font-size: 14px;
  font-weight: 300;
}

/* ______Footer_______ */

.footer {
  background-color: #1c5bc3;
  color: #ffffff;
}

.footer__col {
  float:left;
  width: 33.3%;
}

.footer__text {
  width: 235px;
  height: 50px;
  font-size: 14px;
  font-weight: 300;
}

.footer__text-ls, .footer__text-author {
  font-weight: 700;
}

.footer__text-ls {
  text-decoration: underline;
}

.footer__col .logo {
  display: inline-block;
  text-align: center;
}

.socials__title {
  font-size: 14px;
  font-weight: 700;
}

.socials__list li {
  display: inline-block;
}

.socials__item {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: #d3dff3;
  border-radius: 50%;
}

.socials__item:hover {
  background-color: #ffffff;
}

/* ______Clearfix_______ */

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
