/* _______All page________ */

.wrapper {
font-family: 'Roboto', sans-serif;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* _______Header_______ */

.header {
  background-color: #1c5bc3;
}

.contacts, .logo {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contacts__phone {
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
}

.contacts__desc {
  opacity: 0.7;
  color: #ffffff;
  font-size: 14px;
  text-decoration: underline;
}

/* ______Navigation_______ */

.sidebar, .nav__icon-main, .nav__icon-team, .nav__icon-feed, .nav__text {
  display: inline-block;
}

.nav__icon-main {
  background-image: url(../img/sidebar/sidebar-icons.png);
  background-repeat: no-repeat;
  background-position: 0 0;
	width: 18px;
	height: 18px;
}

.nav__icon-team {
  background-image: url(../img/sidebar/sidebar-icons.png);
  background-repeat: no-repeat;
  background-position: -19px -1px ;
	width: 23px;
	height: 18px;
}

.nav__icon-feed {
  background-image: url(../img/sidebar/sidebar-icons.png);
  background-repeat: no-repeat;
  background-position: -42px -2px ;
	width: 21px;
	height: 19px;
}

.nav__link {
  color: #1c5bc3;
  font-size: 12px;
  font-weight: 700;
  line-height: 54px;
  text-transform: uppercase;
  letter-spacing: 2.4px;
}

.nav__link:hover .nav__icon-main {
  background-position: 0 -19px ;
	width: 18px;
	height: 18px;
}

.nav__link:hover .nav__icon-team {
  background-position: -19px -20px ;
	width: 23px;
	height: 18px;
}

.nav__link:hover .nav__icon-feed{
  background-position: -42px -20px ;
	width: 21px;
	height: 19px;
}

.nav__link:hover .nav__text {
  color: #221f1f;
}
/* ______Breadcrumbs______ */

.breadcrumbs li {
  display: inline-block;
}

.breadcrumbs__link {
  color: #1c5bc3;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  text-decoration: underline;
  opacity: 0.8;
}

.breadcrumbs__item:last-child:before {
  content: "/";
}

.breadcrumbs__item:nth-child(2) .breadcrumbs__link {
  color: #221f1f;
  text-decoration: none;
}

/* ______Crew______ */

.section {
  display: inline-block;
}

.crew__ava-img {
  width: 160px;
  height: 160px;
  border-radius: 50%;

}

.crew__item {
  display: inline-block;
  width: 340px;
}

.crew__name {
  color: #221f1f;
  font-size: 18px;
  font-weight: 700;
}

.crew__prof {
  color: #1c5bc3;
  font-size: 14px;
  font-weight: 700;
}

.crew__text {
  font-size: 14px;
  font-weight: 300;
}

/* ______Footer_______ */

.footer {
  background-color: #1c5bc3;
}

.footer__col {
  display: inline-block;
}

.footer__text {
  width: 235px;
  height: 50px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
}

.footer__text_ls, .footer__text-author {
  font-weight: 700;
}

.footer__text_ls {
  text-decoration: underline;
}

.socials__title {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
}

.socials__list li {
  display: inline-block;
}

.socials__item {
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: #d3dff3;
  border-radius: 50%;
}

.socials__item:hover {
  background-color: #ffffff;
}
