.main-content {
  float: left;
  width: 866px;
  /*border: 2px solid red;*/
}

/* ______"Хлебные крошки"______ */

.breadcrumbs {
  margin-top: 30px;
  margin-bottom: 28px;
}

.breadcrumbs__item {
  display: in-block;
}

.breadcrumbs__link {
  color: #1c5bc3;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  opacity: 0.8;
}

.breadcrumbs__item:after {
  content: "/";
}

.breadcrumbs__item:last-child:after {
  display: none;
}

.breadcrumbs__link_active {
  color: #221f1f;
  text-decoration: none;
  pointer-events: none;
}

.main-content__title {
  display: in-block;
  font-size: 49px;
  margin: 160px 66px;
}

/* ______Экипаж______ */

.crew__item {
  display: inline-block;
  width: 260px;
  text-align: center;
  vertical-align: top;
}

.crew__ava-img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.crew__name {
  color: #221f1f;
  font-size: 18px;
  font-weight: 700;
}

.crew__prof {
  color: #1c5bc3;
  font-size: 14px;
  font-weight: 700;
}

.crew__text {
  font-size: 14px;
  font-weight: 300;
}

.main-content__img {
  background-image: url(../../img/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 879px;
  height: 354px;
  border: 2px solid red;
}

p {
  text-align: justify;
  width: 698px;
}

.main-content__text {
  width: 698px;
  list-style: disc;
  list-style-position:inside;
  line-height: 1.7em;
}

.main-content__text ul li {
  list-style: disc;
  list-style-position: inside;
  margin-left: 10px;
}

.main-content__reserv  p {
  width: 600px;
  background-color: #1c5bc3;
  color: #ffffff;
  font-weight: 300;
  padding: 20px 76px 16px 30px;
}

.main-content__reserv a,b {
  color: #ffffff;
  font-weight: 700;
}

.partners__title {
  font-size: 49px;
  margin-top: 70px;
}

.partners__item {
  display: inline-block;
  margin-bottom: 64px;
  margin-right: 120px;
}
