.main-content {
  float: left;
  width: 879px;
}

/* ______"Breadcrumbs"______ */

.breadcrumbs {
  padding-top: 40px;
}

.breadcrumbs__item {
  display: inline-block;
}

.breadcrumbs__link {
  color: #1c5bc3;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  opacity: 0.8;
}

.breadcrumbs__item:after {
  content: "/";
}

.breadcrumbs__item:last-child:after {
  display: none;
}

.breadcrumbs__link_active {
  color: #221f1f;
  text-decoration: none;
  pointer-events: none;
}

.main-content__title {
  display: inline-block;
  font-size: 49px;
  margin-bottom: 35px;
}

/* ______Crew______ */

.crew {
    padding-bottom: 39px;
    width: 100%;
}

.crew__item {
  display: inline-block;
  width: 265px;
  text-align: center;
  vertical-align: top;
  padding-top: 20px;
  padding-left: 8px;
  padding-right: 20px;
  padding-bottom: 15px;
}

.crew__ava-img {
  width: 160px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.crew__name {
  color: #221f1f;
  font-size: 18px;
  font-weight: 700;
}

.crew__prof {
  color: #1c5bc3;
  font-size: 14px;
  font-weight: 700;
}

.crew__text {
  font-size: 14px;
  font-weight: 300;
}

/* ______Main page______ */

.main-content__img {
  background-image: url(../../img/main-bg.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  width: 877px;
  height: 354px;
}

.main-content__title_img {
  margin-top: 120px;
  margin-left: 68px;
  margin-bottom: 70px;
}

.main-content__text ul li {
  padding-left: 15px;
}

p {
  text-align: justify;
  width: 700px;
}

.main-content__text {
  width: 700px;
  list-style: disc;
  list-style-position:inside;
  line-height: 1.42em;
  font-size: 18px;
  margin-top: 28px;
}

.main-content__text ul li {
  list-style: disc;
  list-style-position: inside;
}

.main-content__reserv {
  width: 700px;
  color: #ffffff;
  background-color: #1c5bc3;
  margin-top: 20px;
  margin-bottom: 80px;
}

.main-content__reserv p {
  width: 594px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6em;
  padding: 15px 10px 15px 30px;
}

.main-content__reserv a {
  color: #ffffff;
  font-weight: 700;
}

.partners {
  margin-bottom: 16px;
}

.partners__title {
  font-size: 49px;
  margin-top: 70px;
}

.partners__item {
  display: inline-block;
  width: 162px;
  margin-bottom: 50px;
  margin-right: 110px;
  text-align: center;
}
