.crew {
    margin-bottom: 39px;
    width: 100%;
}

.crew__item {
  display: inline-block;
  max-width: 260px;
  text-align: center;
  vertical-align: top;
  margin-top: 20px;
  margin-left: 8px;
  margin-right: 20px;
  margin-bottom: 15px;
}

.crew__ava-img {
  width: 160px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.crew__name {
  color: #221f1f;
  font-size: 18px;
  font-weight: 700;
}

.crew__prof {
  color: #1c5bc3;
  font-size: 14px;
  font-weight: 700;
}

.crew__text {
  font-size: 14px;
  font-weight: 300;
}
