.crew {
  margin-top: 57px;
  margin-bottom: 22px;
  width: 100%;
}

.crew__item {
  display: inline-block;
  max-width: 260px;
  text-align: center;
  vertical-align: top;
  margin-left: 18px;
  margin-right: 12px;
  margin-bottom: 40px;
}

.crew__ava {
  margin-bottom: 10px;
}

.crew__ava-img {
  width: 160px;
  border-radius: 50%;
}

.crew__name {
  color: #221f1f;
  font-size: 18px;
  font-weight: 700;
}

.crew__prof {
  color: #1c5bc3;
  font-size: 14px;
  font-weight: 700;
}

.crew__text {
  font-size: 14px;
  font-weight: 300;
}
