.footer {
  background-color: #1c5bc3;
  color: #ffffff;
  margin-top: -77px;
  min-width: 1080px;
}

.footer__col {
  display: inline-block;
  width: 31.0%;
  margin-top: 8px;
  margin-left: 20px;
  margin-bottom: 13px;
}

.footer__text {
  width: 240px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3em;
}

.footer__text-ls, .footer__text-author {
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}

.footer__text-ls {
  text-decoration: underline;
}

.logo_footer {
  width: 120px;
  height: 36px;
  margin-top: 5px;
  margin-left: 105px;
}

.socials {
  text-align: right;
  font-size: 14px;
  font-weight: 700;
  margin-right: 16px;
}

.socials__title {
  margin-bottom: 9px;
}

.socials__item {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  background-color: #d3dff3;
  border-radius: 50%;
  margin-left: 10px;
  transition: background-color 0.3s;
}

.socials__item:hover {
  background-color: #ffffff;
}
