.main-content {
  float: left;
  max-width: 879px;
}

.main-content__img {
  background-image: url(../../img/main-bg.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  min-height: 353px;
}

.main-content__title {
  font-size: 49px;
}

.main-content__title_img {
  display: inline-block;
  margin-top: 150px;
  margin-left: 66px;
  margin-bottom: 70px;
}

.main-content__text ul li {
  margin-left: 15px;
}

.main-content__text {
  width: 700px;
  list-style: disc;
  list-style-position:inside;
  line-height: 30px;
  font-size: 18px;
  font-weight: 300;
  margin-top: 25px;
}

.main-content__text ul li {
  list-style: disc;
  list-style-position: inside;
}

p {
  text-align: justify;
}

.main-content__reserv {
  width: 700px;
  color: #ffffff;
  background-color: #1c5bc3;
}

.main-content__reserv p {
  width: 100%;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  text-align: left;
  padding: 15px 70px 18px 30px;
}

.main-content__text b {
  font-weight: 700;
}

.main-content__reserv a {
  color: #ffffff;
  font-weight: 700;
}

.partners {
  margin-bottom: 15px;
}

.partners__title {
  font-size: 49px;
  line-height: 1.5;
  margin-top: 54px;
}

.partners__item {
  display: inline-block;
  width: 162px;
  margin-bottom: 48px;
  margin-right: 103px;
  text-align: center;
  vertical-align: top;
  filter: grayscale(100);
  transition: filter 0.4s;
}

.partner__link {
  display: inline-block;
}

.partners__item:hover {
  filter: grayscale(0);
}
