.sidebar  {
  float: left;
  min-width: 200px;
}

.nav {
  margin-top: 45px;
  margin-left: 20px;
}

.nav__item {
  margin-bottom: 25px;
}

.nav__link {
  display: inline-block;
  color: #1c5bc3;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2.4px;
}

.nav__icon {
  display: inline-block;
  vertical-align: middle;
  background: url(../../img/sidebar/sidebar-icons.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position: 0 0;
}

.nav__text {
  display: inline-block;
  margin-left: 15px;
  vertical-align: middle;
}

.nav__icon_main {
  background-position: 0 0;
	width: 18px;
	height: 18px;
}

.nav__icon_team {
  background-position: -19px -1px ;
	width: 23px;
	height: 18px;
}

.nav__icon_feed {
  background-position: -42px -2px ;
	width: 21px;
	height: 19px;
}

.nav__link:hover .nav__icon_main {
  background-position: 0 -19px;
}

.nav__link:hover .nav__icon_team {
  background-position: -19px -20px;
}

.nav__link:hover .nav__icon_feed{
  background-position: -42px -20px;
}

.nav__link:hover .nav__text {
  color: #221f1f;
}

.nav__item .nav__link_active {
  pointer-events: none;
  color: #221f1f;
}

.nav__link_active .nav__icon_main {
  background-position: 0 -19px;
}

.nav__link_active .nav__icon_team  {
  background-position: -19px -20px;
}

.nav__link_active .nav__icon_feed {
  background-position: -42px -20px;
}
